.location {
    background-color: $darker-bground;
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 40px;
        .fa-map-marker-alt {
            margin: 12px 6px;
        }
            .text {
                margin: 12px 0px;
            }
}

.menupage-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

nav {
    background-color: $lighter-bground;
    display: flex;
    flex-direction: column;
    justify-content: center;
}