.explore-btn {
        border: 3px none #D6D6D6;
        background-color: white;
        font-weight: bold;
        box-sizing: border-box;
        padding: 1em 1em;
        border-radius: 40px;
        font-size: 26px;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
}

a {
        text-decoration: none;
        color: grey;
}