.primary-btn {
        @include btn-shadow;
        @include btn-primary;
        &:hover {
                @include btn-hover
        }
}

nav a {
        color: $white;
        text-decoration: none;
}

section a {
        color: $white;
        text-decoration: none;
}

.order-btn {
        @include btn-shadow;
        @include order-btn;
        &--3 {
                @include btn-shadow;
                @include order-btn;
                background-color: $light-pink;
        }
}

aside a {
        color: $black;
        text-decoration: none;
}

.meal-btn {
        @include flex-center-column;
        @include btn-shadow;
        @include meal-btn;
                 &__text {
                        font-size: 14px;
                        margin: 8px 0px 0px 0px;
                }
                        &__subtext {
                                font-size: 12px;
                                font-weight: 300;
                                color: $subheading-color;
                                margin: 6px 0px -8px 0px;
                        }
}