.primary-btn {
        @include btn-shadow;
        @include btn-primary;
        @include ipad-buttons;
        &:hover {
                @include btn-hover
        }
}

nav a {
        color: $white;
        text-decoration: none;
}

section a {
        color: $black;
        text-decoration: none;
}

.order-btn {
        @include btn-shadow;
        @include order-btn;
        &--3 {
                @include btn-shadow;
                @include order-btn;
                background-color: $light-pink;
        }
}

aside a {
        color: $black;
        text-decoration: none;
}

.meal-btn {
        @include flex-center-column;
        @include btn-shadow;
        @include meal-btn;
        &:hover i {
                visibility: visible;
                transition: transform .6s ease;
        }
                 &__text {
                        font-size: 14px;
                        margin: 8px 0px 0px 0px;
                }
                        &__subtext {
                                font-size: 12px;
                                font-weight: 300;
                                color: $subheading-color;
                                margin: 6px 0px -8px 0px;
                        }
}

.meal-cost {
        @include meal-cost;
        i {
        font-size: 20px;
        background-color: $tertiary-color;
        color: $white;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 34px;
        left: 8px;
        box-sizing: border-box;
        border-radius: 0px 12px 12px 0px;
        margin: 0px 0px -43px 12px;
        padding: 1em 0.8em;
        visibility: hidden;
        }
}

.meal-btn:before {
        opacity: 0;
        transition-delay: 2s;
}