.heading-text {
    @include headings;
    @include text-centering;
    margin: 30px 0px;
        &__subheading {
            @include text-centering;
            @include subheading;
        }
}

.heading-text2 {
    @include headings;
    margin: 40px 0px 20px 20px;
}

.menupage-heading {
    @include headings;
    margin: -28px 0px 4px 20px;
}

.course-headings {
    color: $subheading-color;
    margin: 20px 0px 10px 20px;
    font-size: 14px;
}

.course-headings--underline {
    border-bottom: 3px solid $tertiary-color;
}