.heading-text {
    font-size: 32px;
    font-weight: 800;
    display: flex;
    justify-content: center;
        &__subheading {
            font-size: 26px;
            font-weight: 200;
            margin: 20px 0px;
            display: flex;
            justify-content: center;
        }
}

.heading-text2 {
    font-size: 32px;
    font-weight: 800;
    margin: 60px 40px;
}