.restaurant-cards > .fa-stack {
    @include heart-outline-homepage;
    &:hover {
        @include heart-hover;
    }
}

section .fa-stack {
    @include heart-outline;
    &:hover {
        color: $lighter-bground;
        @include heart-hover;
    }
}

.fa-mobile-alt {
    color: $subheading-color;
    margin: 0px 14px;
}

.fa-bars {
    color: $subheading-color;
    margin: 0px 14px;
}

.fa-store {
    color: $primary-color;
    margin: 0px 14px;
}

.fa-circle {
    color: $primary-color;
}

.fa-arrow-left {
    text-decoration: none;
    position: relative;
    right: 66px;
    top: 10px;
    font-size: 16px;
    color: $black;
}

.btn-numbers {
    color: $white;
    font-size: 10px;
    font-weight: 300;
}

.meal-cost {
    @include meal-cost;
    i {
    font-size: 20px;
    background-color: $tertiary-color;
    color: $white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 34px;
    left: 8px;
    box-sizing: border-box;
    border-radius: 0px 12px 12px 0px;
    margin: 0px 0px -43px 12px;
    padding: 1em 0.8em;
    overflow: hidden;
    }
}
