.restaurant-cards {
    @include flex-center-column;
    @include btn-shadow;
    @include restaurant-cards;
        img {
            border-radius: 20px 20px 0px 0px;
            height: 140px;
            object-fit: cover;
        }
}

h4 {
    @include meal-description;
}

.restaurant-cards > p {
    @include restaurant-location;
}
