.restaurant-cards {
    @include flex-center-column;
    @include btn-shadow;
    @include restaurant-cards;
        img {
            border-radius: 20px 20px 0px 0px;
            height: 140px;
            object-fit: cover;
        }
}

.restaurant-cards > strong {
    color: $black;
    font-size: 16px;
    font-weight: bold;
    margin: 12px 12px 4px 12px;
}

.restaurant-cards > p {
    color: $black;
    font-size: 14px;
    margin: 0px 6px 8px 12px;
}
