.restaurant-cards {
    @include flex-center-column;
    @include button-shadow;
    @include restaurant-cards;
    border-radius: 16px;
    background-color: white;
    margin: 20px 40px;
    text-decoration: none;
        img {
            border-radius: 20px 20px 0px 0px;
            height: 360px;
            object-fit: cover;
        }
}

.restaurant-cards > strong {
    color: black;
    margin: 0px 30px;
    font-size: 26px;
    margin: 30px 0px 0px 30px;
}

.restaurant-cards > p {
    color: black;
    margin: 10px 0px 30px 30px;
    font-size: 22px;
}
