@font-face {
    font-family: 'Roboto';
    src: local(downloads\roboto\Roboto);
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.location {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.footer-logo {
    font-family: 'Shrikhand', cursive;
}

.menupage-heading {
    font-family: 'Shrikhand', cursive;
}