@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin headings {
    font-size: 32px;
    font-weight: 800;
}

@mixin button-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@mixin btn-hover {
    opacity: 0.8;
    transition-delay: 0.1s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

@mixin restaurant-cards {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0px 0px 40px;
    border-radius: 16px;
    background-color: white;
    margin: 20px 40px;
}

@mixin footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #393939;
    height: 340px;
    margin: 100px 0px 0px 0px;
}

@mixin footer-logo {
    font-size: 32px;
    color: white;
    margin: 10px 50px;
}

@mixin footer-text {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin: 10px 50px;
}