@mixin text-centering {
    display: flex;
    justify-content: center;
    text-align: center;
}

@mixin btn-primary {
    border: 3px none;
    padding: 0.8em 0.5em;
    border-radius: 40px;
    margin: 40px 60px 60px 60px;
    font-size: 14px;
    background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    text-align: center;
}

@mixin btn-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@mixin btn-hover {
    opacity: 0.8;
    transition-delay: 0.1s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin headings {
    font-size: 22px;
    font-weight: 800;
}

@mixin restaurant-cards {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 30%;
    margin: 0px 0px 40px 0px;
    border-radius: 16px;
    background-color: white;
    margin: 20px 40px;
}

@mixin footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #393939;
    height: 200px;
}

@mixin footer-logo {
    color: $white;
    font-size: 20px;
    margin: 15px 28px;
}

@mixin footer-text {
    color: $white;
    text-decoration: none;
    font-size: 14px;
    margin: 5px 28px;
}