$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2d0;
$light-purple: #FEF2FF;
$darker-bground: #F2F2F2;
$lighter-bground: #F8F8F8;
$black: black;
$white: white;
$subheading-color: #757575;
$footer-color: #393939;
$heart-color: #606060;